@model Emprestimo
@{
    ViewData["Title"] = "Registrar Emprestimo";
}

@section Styles {
    <link rel="stylesheet" href="/css/repositorios.css" asp-append-version="true" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<h3 class="mb-2">Cadastro novo Emprestimo</h3>

<div class="card p-4 shadow-sm">
    <div class="row g-3">
        <div class="card-body">
            <form asp-controller="Emprestimos" asp-action="Adicionar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="LivroId" class="form-label"></label>
                    <select asp-for="LivroId" class="form-select" asp-items="ViewBag.Livros">
                        <option value="">Selecione um Livro</option>
                    </select>
                    <span asp-validation-for="LivroId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UsuarioId" class="form-label"></label>
                    <select asp-for="UsuarioId" class="form-select" asp-items="ViewBag.Usuarios">
                        <option value="">Selecione um Usuário</option>
                    </select>
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DataEmprestimo" class="form-label"></label>
                    <input asp-for="DataEmprestimo" type="date" class="form-control" />
                    <span asp-validation-for="DataEmprestimo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DataDevolucaoPrevista" class="form-label"></label>
                    <input asp-for="DataDevolucaoPrevista" type="date" class="form-control" />
                    <span asp-validation-for="DataDevolucaoPrevista" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="Devolvido" class="form-check-input" />
                    <label asp-for="Devolvido" class="form-check-label"></label>
                    <span asp-validation-for="Devolvido" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="reset" class="btn btn-secondary" id="resetButton">Limpar</button>
                    <a asp-controller="Emprestimos" asp-action="Index" type="buttom" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
